body{
	background: #000;
	color: #fff;
	font-size: 22px;
	font-family: monospace;
	background-image: url('./background.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
  	background-attachment: fixed;
}
h1 a{
	display: none;
}
h1{
  text-align: center;
}
a{
	color: #fff;
}
a:hover{
	color: #f00;
}
p{
    transition: .5s;
    transform: scale(.98);
}