body{
	background-color: #000;
	color: #fff;
	font-size: 20px;
	font-family: monospace;
	background-image:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)),
		url('https://hdqwalls.com/wallpapers/cyberpunk-city-world-map-4k-vc.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
  	background-attachment: fixed;
}
h1 a{
	display: none;
}
h1{
  text-align: center;
}
a{
	color: #fff;
}
p a:hover{
	color: #f00;
	transition: 0.5s;
	transform: scale(1.5);
	background: none;
	text-decoration: none;
}